In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [25]:
df = pd.read_csv('data/Rice Cultivation Emissions.csv')
df.head()

,source_id,source_name,source_type,iso3_country,original_inventory_sector,source_start_time,source_end_time,lat,lon,geometry_ref,...,confidence_activity,confidence_co2_emissions_factor,confidence_ch4_emissions_factor,confidence_n2o_emissions_factor,confidence_co2_emissions,confidence_ch4_emissions,confidence_n2o_emissions,confidence_total_co2e_20yrgwp,confidence_created_date,confidence_modified_date
0,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
1,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
2,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
3,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
4,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN

In [26]:
#check for duplicates
df.duplicated().sum()

2500

In [27]:
#drop duplicates
df = df.drop_duplicates()

In [28]:
df.head()

,source_id,source_name,source_type,iso3_country,original_inventory_sector,source_start_time,source_end_time,lat,lon,geometry_ref,...,confidence_activity,confidence_co2_emissions_factor,confidence_ch4_emissions_factor,confidence_n2o_emissions_factor,confidence_co2_emissions,confidence_ch4_emissions,confidence_n2o_emissions,confidence_total_co2e_20yrgwp,confidence_created_date,confidence_modified_date
0,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
2,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
4,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
6,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN
8,21458521,Sumatera Utara,NaN,IDN,rice-cultivation,2021-01-01 00:00:00,2021-12-31 00:00:00,2.190811,99.053312,gadm_IDN.32_1,...,high,NaN,medium,NaN,NaN,medium,NaN,high,2023-10-24 00:00:00,NaN

In [29]:
df.duplicated().sum()

0

In [31]:
##check the various source name
source_names_unique = df['iso3_country'].unique()
print(source_names_unique)

['IDN' 'IND']